File.value / PathType is inconsistent / too strict

PathType is defined on page 97 as:

Identifier
Note: for any string conformant to RFC8089, the "file" URI scheme (for relative and absolute file paths) applies.

Exmaples:
./Specification.pdf
file:c:/local/Specification.pdf
file://host.example.com/path/to/file

This is more strict than it was in Version 2 (it was a simple string) and inconsistent, since the example ./Specification.pdf is not valid according to RFC8089.

As discussed in Workstream AAS, the specification should be changed to:

`URL, based on RFC-3986 / RFC-3987, but more recently defined as living standard by WHATWG, as suggested by W3C: https://url.spec.whatwg.org/`

In the examples we should also list http / ftp  / custom-scheme examples - since all of them are considered valid.

Here are some insights from a couple of discussions with various people. I'm sharing it here for future reference.

Since Opening Package Convention is used as an underlying format for AASX files, for which Please revisit the standard for Opening Package Convention (OPC). The path value must *exactly* conform to the target URIs of the OPC.

Hence, it does not matter what other standards prescribe -- as long as OPC is used as the storage format for AASX files, `File/value` has to follow target URIs conformant to the OPC.

For more details, see:
* https://en.wikipedia.org/wiki/Open_Packaging_Conventions
* https://learn.microsoft.com/en-us/previous-versions/windows/desktop/opc/open-packaging-conventions-overview

For a succinct intro, you can also have a look at the readme of the aas-core package library in C#: https://aas-core-works.github.io/aas-package3-csharp/doc/

The workstream has decided, that we should define a regex for PathType. 

Can someone please update me what the regex actually is like now? 

2024-02-21 TF Part 1:
Decision Proposal - Recommendation from TF Part 1:
	In Part 1: 
	- change type from PathType from string to anyUri and use regEx from anyUri in schema. 
           -  Substitute Note inf PathType with 
		"[[anyURI](https://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#anyURI) supports a] wide range of internationalized resource identifiers can be specified when an anyURI is called for, and still be understood as URIs per [[RFC 3986]](https://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#RFC3986) and its successor(s)."
		○ for PathType add Lenght Restriction as Identifier (i.e. 2024)
       In Part 5: explain exactly how relative path can be added in File/value if for files contained in the .aasx

What about the following two cases:
a)
Spec File.value = "./Specificaton.pdf"  with Specificaiton.pdf being a supplemental file in .aasx
b)
Spec SMC BasePath Property.value = "file://mypath"
                 RelativePath File.value = "./Specificaton.pdf" 

If modelling b) is possible we cannot restrict relative path to be used in .aasx only and then follow OPC convention. But in Part 5 we write "Only a relative URI reference shall be interpreted as a reference to a supplementary file within the AASX package. " but with b) not every relative path can be interpreted as a reference a file in the .aasx

take into account: 
https://datatracker.ietf.org/doc/html/rfc8820
https://www.w3.org/TR/xmlschema-2/#anyURI
https://aas-core-works.github.io/aas-core-meta/v3_1/MatchesRfc8089Path.html
https://aas-core-works.github.io/aas-core-meta/v3_1/MatchesXsAnyUri.html

2024-02-28 TF Part 1:
Decision Proposal - Revised Recommendation from TF Part 1:
In Part 1:
- change type from PathType and with restriction RFC2396 (conformant to https://www.w3.org/TR/xmlschema-2/#anyURI) Note: Part 1 uses https://www.w3.org/TR/xmlschema-2/ and NOT https://www.w3.org/TR/xmlschema11-2/ or https://www.w3.org/TR/xmlschema11-1





In Part 5: explain exactly how relative path can be added in File/value if for files contained in the .aasx

solved in IDTA-01001-3-0-1: https://industrialdigitaltwin.org/wp-content/uploads/2024/06/IDTA-01001-3-0-1_SpecificationAssetAdministrationShell_Part1_Metamodel.pdf